@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #505050;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.new-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh 0 0 0;
    padding: 20px;
    
}
textarea {
    resize: none;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 2vh;
    background-color: #d2d2d2;
    box-shadow: 2px 2px 2px #d5d5d5;
}

main {
    width: 80%;
    height: 70vh;
    border: 2px solid #656464;
    background-color: #505050;
    border-radius: 10px;
    color: #fff;
    padding: 5vh 0 0 0;
    overflow-y: scroll;
}


.message {
    height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    border-bottom: 1px solid #8ec47f5e;
    display: flex;
    align-items: center;
}
.message.assistant {
    background-color: rgba(155, 255, 155, 0.173);
    height: auto;
}

svg {
    cursor: pointer;
}